@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[#1E1E1F] text-gray-100 antialiased;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 md:px-12 lg:px-24 py-16 md:py-20;
  }
}

